{% extends 'base.html.twig' %}
{% set navigation = [
        ['chronicle'],
        ['Kronika', path('chronicle_show')],
        [yearInUrl, path('chronicle_list_by_Year', {year: yearInUrl})],
    ]
%}
{% set breadcrumb = TRUE %}
{% block title %}Kronika {{yearInUrl}} - {% endblock %}

{% block description %}Podrobnosti o podujatiach, ktoré organizoval KST Žochár Topoľčany v roku {{yearInUrl}}. Príbehy a spomienky z rôzchnych našich poduajtí.{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<hr>
<p>
  <a class="btn btn-primary btn-sm" href="{{ path('chronicle_create_from_date', {year: yearInUrl}) }}" role="button">Pridať novú kroniku</a>
</p>
<hr>
{% endif %}
<h1>Klubová kronika z roku {{ yearInUrl }}</h1>
<p>Prečítajte si naše zážitky a dojmy z niektorých podujatí, ktoré sme buď organizovali alebo sa na nich aj zúčastnili. Odkaz na galériu fotografí nájdete dolu pod textom.</p>
{% set monthNames = {
    12: 'December',
    11: 'November',
    10: 'Október',
    9: 'September',
    8: 'August',
    7: 'Júl',
    6: 'Jún',
    5: 'Máj',
    4: 'Apríl',
    3: 'Marec',
    2: 'Február',
    1: 'Január'} %}

<div class="table-responsive">
    <table class="table table-hover table-condensed">
    {% for k, month in chronicles %}
        <tr><td colspan="3"><b>{{ monthNames[k] }}</b></td></tr>
        {% for key, event in month %}
        <tr>
            <td>{{ event.startDate|date('j. n.') }}{% if event.endDate|length %} – {{ event.endDate|date('j. n.') }}{% endif %}</td>
            <td><a href="{{ path('chronicle_show_by_Year_Slug', {year: yearInUrl, slug: event.slug}) }}">{{ event.title }}</a></td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
</div>

{% endblock %}