{% extends 'base.html.twig' %}
{% set navigation = [
        ['blog'],
        [blogSection.title[:1]|upper ~ blogSection.title[1:], path('blog_list_by_BlogSectionSlug', {blogSectionSlug: blogSection.getSlug()})],
        [blog.title, path('blog_show_by_BlogSectionSlug_Year_Slug', {blogSectionSlug: blogSection.getSlug(), year: year, slug: blog.getSlug()})],
    ]
%}
{% set breadcrumb = TRUE %}
{% block description %}{{ blog.summary }}{% endblock %}


{% block title %}{{ blog.title }} - {% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<hr>
<p>
    <a class="btn btn-secondary btn-sm" href="{{ path('blog_show_by_BlogSectionSlug_Year_Slug', {blogSectionSlug: blogSection.getSlug(), year: year, slug: blog.getSlug()}) }}" role="button">Nechcem zmazať</a>
    <a class="btn btn-danger btn-sm" href="{{ path('blog_delete_yes', {blogSectionSlug: blogSection.getSlug(), year: year, slug: blog.getSlug()}) }}" role="button">Chcem zmazať</a>
</p>
<hr>

{% endif %}
    <h1>{{ blog.title }}</h1>
    {{ blog.content|raw }}
{% endblock %}