{% extends 'base.html.twig' %}
{% set navigation = [
        ['invitation'],
        ['Pozvánky', path('invitation_show')],
        [yearInUrl, path('invitation_list_by_Year', {year: yearInUrl})],
        [invitation.title, path('invitation_show_by_Year_by_Slug', {year: yearInUrl, slug: invitation.getSlug})]
    ]
%}
{% set breadcrumb = TRUE %}
{% block title %}{{ invitation.title }} - Pozvánky - {% endblock %}
{% block description %}{{invitation.summary}}{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<hr>
<p>
    <a class="btn btn-secondary btn-sm" href="{{ path('invitation_show_by_Year_by_Slug', {year: yearInUrl, slug: invitation.getSlug()}) }}" role="button">Nechcem zmazať</a>
    <a class="btn btn-danger btn-sm" href="{{ path('invitation_delete_yes', {year: yearInUrl, slug: invitation.getSlug()}) }}" role="button">Chcem zmazať</a>
</p>
<hr>
{% endif %}

    <h1>{{ invitation.title }}</h1>
    <p>Dátum konania: <strong>{{ invitation.startDate|date('j. n. Y') }}</strong>.</p>

    {% set countRoutes = invitation.routes|length %}
    {% if countRoutes > 1 %}
        <p>Trasy:</p>
        <ul>
        {% for route in invitation.routes %}
            <li>{{route.title}} ({{route.length}} km)</li>
        {% endfor %}
        </ul>
    {% elseif countRoutes == 1 %}
        <p><b>Trasa:</b> {{invitation.routes[0].title}} ({{invitation.routes[0].length}} km).</p>
    {% endif %}

    {{ invitation.content|raw }}

{% endblock %}