{% extends 'base.html.twig' %}

{% block title %}{{ 'templates.eventInvitation.showEventInvitationUpcoming.title'|trans }} - {% endblock %}
{% block description %}{{ 'templates.eventInvitation.showEventInvitationUpcoming.description'|trans }}{% endblock %}

{% block body %}
{% set currentYear = 'now' | date('Y') %}
{% if is_granted('ROLE_ADMIN') %}
<hr>
<p>
    <a
        class="btn btn-primary btn-sm"
        href="{{ path('invitation_create_from_date', {year: currentYear}) }}"
        role="button"
    >{{ 'templates.eventInvitation.showEventInvitationUpcoming.add'|trans }}</a>
</p>
<hr>
{% endif %}
<h1>{{ 'templates.eventInvitation.showEventInvitationUpcoming.h1'|trans }}</h1>

{% if upcomingInvitations is empty %}
    {# Corona #}
    {# <p>Žiaľ zo známych dôvodov sú zakázané všetky verejné športové podujatia, takže nemôžeme organizovať žiadne spoločné výlety. Ak máte radi prírodu #}
    {#a pohyb po čerstvom vzduchu, choďte prosím na turistiku sami, či s členmi vašej domácnosti.</p> #}
    {# <p>Veríme, že najskôr budeme môcť pokračovať v spoločných vychádzach do prírody.</p> #}
    
    {# No Corona #}
    <p>{{ 'templates.eventInvitation.showEventInvitationUpcoming.missing'|trans }}</p>
    
    <p>Pozrite si napríklad <a href="{{ path('plan_show_by_Year', {year: currentYear}) }}">plán na aktuálny rok</a> alebo si môžete prečítať ako nám bolo v našej <a href="{{ path('chronicle_list_by_Year', {year: currentYear}) }}">klubovej kronike</a>.</p>
{% else %}
<div class="table-responsive" id="invitations-upcoming">
    <table class="table table-hover table-condensed">
    {% for invitation in upcomingInvitations %}
        <tr>
            <td>{{ invitation.startDate|date('j. n. Y') }}{% if invitation.endDate|length %} – {{ invitation.endDate|date('j. n.') }}{% endif %}</td>
            <td><a href="{{ path('invitation_show_by_Year_by_Slug', {year: invitation.startDate|date('Y'), slug: invitation.slug}) }}">{{ invitation.title }}</a></td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}